.gracias {
  display: grid;
  grid-template: auto 1fr/ 9% auto 9%;
}

.gracias > img {
  grid-column: 1/4;
  width: 100%;
  margin-bottom: 45px;
}

.gracias--text__container {
  display: flex;
  flex-direction: column;
  max-width: 30rem;
  grid-column: 2/3;
  grid-row: 2/3;
}

.gracias--text__container h2 > p {
  color: #FF1C44;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 3.6rem;
  letter-spacing: -0.6000000238418579px;
}

.gracias--text__container h2{
  font-family: Lato;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 3.6rem;
  letter-spacing: -0.6000000238418579px;
  margin-bottom: 2.4rem;
}

.gracias--text__container > p{
  //styleName: Paragraph/Lig_16px;
  font-family: 'Roboto';
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 2.8rem;
  letter-spacing: 0rem;
}
.gracias--text__container span{
  //styleName: Paragraph/Reg_16px;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0rem;
  margin-bottom: 4rem;
}
.gracias--text__container button{
  width: 100%;
  height: 5.6rem;
  background-color: #FF1C44;
  color: white;
  border: none;
  border-radius: 0.8rem;
}