@use './breakpoints' as u;

.main-login{
  min-width: 36rem;
  @include u.breakpoint(large){
    min-height: fit-content;
    height: calc(100vh - 100px);
    display: grid;
    grid: 6rem auto / 9% 1fr 1.5fr 9%;
  }

  @include u.breakpoint(xlarge){
    grid: 6rem auto / auto 45.6rem 68.4rem auto;
  }

  &__background {
    @include u.breakpoint(large){
      width:  41.8%;
      height: 100vh;
      z-index: -1000;
      background-image: url('../assets/Background-inicio.png');
      background-position: top left;
      background-repeat: no-repeat;
      background-size: 100% 100vh;
      grid-row: 1/5;
      grid-column: 1/5;
      position: relative;
      top: -6.4rem;
    }
  }
}

.form-container {
  width: 100%;
  height: auto;
  display: grid;
  grid: auto 1fr / 9% auto 9%;
  @include u.breakpoint(small){
    justify-items: center;
  }
  @include u.breakpoint(large){
    grid: auto 1fr / 27% auto ;
    grid-row: 2/3;
    grid-column: 3/4;
    justify-items: left;
  }

  &__description {
    grid-column: 2/3;
    margin-bottom: 2.4rem;
  }
  
  .form{
    grid-column: 2/3;
    grid-row: 2/3;
    margin-bottom: 4rem;
  
    &__input-container{
      width: 100%;
      max-width: 48rem;
      height: auto;
      margin-bottom: 1.6rem;
      @include u.breakpoint(large){
        max-width: 29rem;
      }
    }
  
    &__submit{
      width: 100%;
      max-width: 48rem;
      height: 5.6rem;
      border: none;
    }
    &__select{
      width: 33%;
      height: 5.6rem;
      border-radius: 0.4rem 0 0 0.4rem;
      padding: 1.6rem;
      border: 1.00694px solid #C5CBE0;
      border-right: none;
    }
    &__document {
      width: 67%;
      height: 5.6rem;
      border: none;
      border: 1.00694px solid #C5CBE0;
      border-radius:  0 0.4rem 0.4rem 0 ;
      padding: 1.6rem;
    }
    &__phone{
      width: 100%;
      max-width: 48rem;
      height: 5.6rem;
      border-radius: 0.4rem;
      border: none; 
      border: 1.00694px solid #C5CBE0;
      padding: 1.6rem;
    } 
    &__placa{
      width: 100%;
      max-width: 48rem;
      height: 5.6rem;
      border-radius: 0.4rem;
      border: none; 
      border: 1.00694px solid #C5CBE0;
      padding: 1.6rem;
    }
    &__check {
      filter: hue-rotate(240deg);
      transform: scale(1.5);
      border-radius: 0.4rem;
      cursor: pointer;
    }
  }
  
  
}

